/*
 * Comments are written as C++ style. 
 */

@import 'https://fonts.googleapis.com/css?family=Raleway';

div{
    font-family: Raleway;  
  }

button {
    background-color: white;
    border: white;
    border-radius: 25px;
}

table,
td,
th {
    border: 1px solid white;
    padding: 6px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}

body {
    background: #0b0c10;
    width: auto;
    color: #ffffff;
}

.responsive {
    width: 100%;
    height: auto;
}

section p {
    display: inline-block;
    width: 66%;
    color: #ffffff;
    padding: auto;
}

h1 {
    color: #C5C6C7;

    
}

h2 {
    color: #C5C6C7;
}

a {
    color: #C5C6C7;
}

#mydiv {
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #234099;
    border-radius: 5px;
    color: #ffffff;
}

#mydivheader {
    margin: 0 auto;
    cursor: move;
    color: #fff;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
  }