/*
 * Comments are written as C++ style. 
 */

button {
    background-color: white;
    border: white;
    border-radius: 25px;
}

table,
td,
th {
    border: 1px solid white;
    padding: 6px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
}

body {
    background: rgb(2, 40, 73);
    width: auto;
    max-width: 600px;
    margin: 8px auto;
    color: #ffffff;
}

.responsive {
    width: 100%;
    height: auto;
}

section p {
    display: inline-block;
    width: 66%;
    color: #ffffff;
    padding: auto;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

a {
    color: #ffffff;
}

#mydiv {
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgb(119, 0, 255);
    border-radius: 5px;
    color: #ffffff;
}

#mydivheader {
    margin: 0 auto;
    cursor: move;
    color: #fff;
}